.btn {
  &__game {
    @include position;
    background-color: $grey-light-color;
    border: 0;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.4rem 0.6rem $grey-color;
    color: #000;
    font-size: 1.7rem;
    font-weight: bolder;
    outline: 0;
    padding: 1.4rem 2.6rem;
    text-decoration: none;
    transform: translate(50%, 0%);

    @include respond(4k-desk) {
      left: 61.7rem;
    }

    @include respond(laptop) {
      left: 12rem;
    }

    @include respond(s-laptop) {
      left: 7rem;
    }

    @include respond(tab-land) {
      left: 12rem;
    }

    @include respond(f-hxd) {
     
    }

    @include respond(tab-port) {
      left: 7rem;
    }

    @include respond(mic-l) {
      left: -3rem;
    }

    @include respond(nex-9) {
      left: -11rem;
    }

    @include respond(l-phone) {
      left: -12rem;
    }

    @include respond(iphone-6-plus) {
      left: -14rem;
    }

    @include respond(pix-2) {
      
    }

    @include respond(m-phone) {
      left: -16rem;
    }

    @include respond(s-phone) {
      left: -20rem;
    }

    &:hover {
      background-color: $grey-color-2;
      cursor: pointer;
    }
  }
} 
