.u-text-align { text-align: center; }

.u-sub-margin { 
  margin-top: -4rem;
  
 }

.u-card-cap-margin { 
  margin-top: -0.5rem;

  @include respond(l-phone) {
    margin-top: 0;
  }  
 }

.u-info-main { margin-bottom: 1.5rem; }

.u-info-sub { margin-bottom: 1rem; }