// COLORS
$greenish-bg-color: rgba(161, 187, 172, 0.74);
$green-color: #27AE60;
$red-color: #EB5757;
$grey-light-color: #E0E0E0;
$grey-color: rgba(0, 0, 0, 0.24);
$grey-color-2: rgba(130, 130, 130, 0.3);
$brown-color: rgba(233, 169, 104, 0.219);
$color-white: #fff;
$black-color: #000;


// GRID
$grid-width: 107.5rem;
$gutter-horizontal: 3rem; 
$gutter-vertical: 0; 