.header {
  //margin-top: 4rem;

  &__box {
    height: 50rem;
    width: 100%;

    @include respond(mic-l) {
      height: 43.9rem;
    }

    @include respond(nex-9) {
      height: 36.9rem;
    }

    @include respond(nex-4) {
      height: 32rem;
    }

    &--1 { 
      background-color: $greenish-bg-color;
      height: 58rem;
      z-index: 1;
      //animation: appear  2s -4s both;


      @include respond(mic-l) {
        height: 58.9rem;
      }


      &--c2 {
        background-color: rgba(186, 213, 228, 1);
      }

      &--c3 {
        background-color: rgba(120, 157, 195, 0.72);
      }

      &--c4 {
        background-color: rgba(94, 203, 102, 0.41);
        height: 58.9rem;
      }

      &--c5 {
        background-color: rgba(111, 101, 113, 0.33);
      }

      &--c6 {
        background-color: rgba(119, 119, 119, 0.62);
      }

      &--c7 {
        background-color: rgba(84, 192, 235, 0.45);
      }

      &--c8 {
        background-color: rgba(240, 188, 94, 0.4);
      }

      &--c9 {
        background-color: #bdc3c79c;
      }
      &--c10 {
        background-color: rgba(134, 118, 104, 0.82);
      }
      &--c11 {
        background-color: #1e2021;
      }
      &--c12 {
        background-color: rgba(179, 244, 255, 0.37);
      }
      &--c13 {
        background-color: #dca046;
      }
      &--c14 {
        background-color: rgba(153, 153, 153, 0.32);
      }
      &--c15 {
        background-color: rgba(255, 40, 19, 0.28);
      }
      &--c16 {
        background-color: rgba(156, 150, 158, 0.35);
      }
      &--c17 {
        background-color: #fff8f8;
      }
      &--c18 {
        background-color: #ffdab6;
      }
      &--c19 {
        background-color: #ffe995;
      }
      &--c20 {
        background-color: #ecd5bc;
      }
    }

    &--2 {
      background-color: $black-color;
      z-index: 2;
      display: none;
    }

    &--3 {
      height: 55rem;
    }


    &__text {
      display: block;
      margin-top: -6rem;

      @include respond(nex-9) {
        margin-top: 0rem;
      }

      @include respond(m-phone) {
        padding-bottom: 1rem;
      }

      &--1 {
        color: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, 101%);
        width: 90%;

        @include respond(mic-l) {
          transform: translate(-50%, 32%);
        }

        @include respond(nex-9) {
          transform: translate(-50%, 88%);
          font-size: 2rem;
        }

        @include respond(l-phone) {
          transform: translate(-50%, 122%);
          
        }

        @include respond(m-phone) {
          transform: translate(-50%, 50%);
          
        }

      }

      &--2 {
        margin-top: 6rem;
      }

      &--3 {
        margin: -5rem auto 0 auto;
        width: 50%;
      }

      &--4 {
        margin: -2rem auto 1.5rem auto;
        width: 70%;

        @include respond(4k-desk) {
          margin: -2rem auto 2.5rem auto;
        }

        @include respond(tab-land) {
          margin: -2rem auto 1rem auto; 
        }

        @include respond(mic-l) {
          margin: 2rem auto 3rem auto;
        }
      }

      &--5 {
        margin: -2rem auto 0rem auto;
        width: 50%;

        @include respond(laptop) {
          margin: -3rem auto 3rem auto;
        }

        @include respond(mic-l) {
          margin: 0rem auto 3rem auto;
        }
      }

      &--5A {
        margin: -2rem auto .7rem auto;
        width: 50%;

        @include respond(4k-desk) {
          margin: -2rem auto 2rem auto;
        }

        @include respond(mic-l) {
          margin: 2rem auto 4rem auto;
        }
      }

      &--6 {
        margin: -4rem auto 2.5rem auto;
        width: 54%;

        @include respond(4k-desk) {
          margin: -4rem auto 4.5rem auto;
        }

        @include respond(laptop) {
          margin: -4rem auto 3.2rem auto;
        }

        @include respond(mic-l) {
          margin: 3rem auto 4rem auto;
          width: 80%;
        }
      }

      &--7 {
        margin: -4rem auto 0 auto;
        width: 54%;
        
        @include respond(4k-desk) {
          margin: -4rem auto 4rem auto;
        }

        @include respond(laptop) {
          margin: -4rem auto 2rem auto;
        }

        @include respond(mic-l) {
          margin: 2rem auto 2rem auto;
          width: 80%;
        }
      }

      &--8 {
        margin: -3rem auto .8rem auto;
        width: 62%;

        @include respond(4k-desk) {
          margin: -3rem auto 3.8rem auto;
        }

        @include respond(laptop) {
          margin: -3rem auto 3rem auto;
        }

        @include respond(mic-l) {
          margin: 1rem auto 2rem auto;
          width: 80%;
        }
      }

      &--9 {
        margin: -4rem auto 1rem auto;
        width: 60%;
      }

      &--10 {
        margin: -2rem auto .6rem auto;
        width: 70%;

        @include respond(4k-desk) {
          margin: -2rem auto 2.5rem auto;
        }

        @include respond(laptop) {
          margin: -2rem auto 2rem auto;
        }

        @include respond(mic-l) {
          margin: 0rem auto 4rem auto;
          width: 80%;
        }
      }

      &--11 {
        margin: -3rem auto .8rem auto;
        width: 56%;

        @include respond(4k-desk) {
          margin: -3rem auto 4.8rem auto;
        }

        @include respond(laptop) {
          margin: -3rem auto 2.8rem auto;
        }

        @include respond(mic-l) {
          margin: 4rem auto 4rem auto;
          width: 80%;
        }
      }

    }

    &__icon {
      position: relative;

      &__img {
        height: 19.8rem;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 6%);
        top: 50%;

        @include respond(mic-l) {
          height: 14.8rem;
          transform: translate(-50%, 14%);
        }
        

        @include respond(l-phone) {
          transform: translate(-50%, 20%);
        }

        &--1{
          transform: translate(-50%, 0%);
        }

        &--f {
          height: 17.8rem;
          left: 50%;
          position: absolute;
          transform: translate(-50%, 6%);
          top: 50%;

          @include respond(4k-desk) {
            height: 21.8rem;
          }
        }

        &--8 {
          height: 13.8rem;

          @include respond(nex-4) {
            height: 11.8rem;
          }
        }

        &--9 {
          height: 17.8rem;

          @include respond(nex-9) {
            height: 14.8rem;
          }
        }

      }
    }
  }
}
