.header {
  //margin-top: 4rem;

  &__box {
    height: 55rem;
    width: 100%;

    @include respond(mic-l) {
      height: 43.9rem;
    }

    @include respond(nex-9) {
      height: 36.9rem;
    }

    @include respond(nex-4) {
      height: 32rem;
    }

    &--1 { 
      background-color: $greenish-bg-color;
      height: 58rem;
      z-index: 1;
      //animation: appear  2s -4s both;


      @include respond(mic-l) {
        height: 50.9rem;
      }

      @include respond(nex-9) {
        height: 47.9rem;
      }

      @include respond(s-phone) {
        height: 44.9rem;
      }

      &--c2 {
        background-color: rgba(186, 213, 228, 1);
      }

      &--c3 {
        background-color: rgba(120, 157, 195, 0.72);
      }

      &--c4 {
        background-color: rgba(94, 203, 102, 0.41);
        height: 55rem;
      }

      &--c5 {
        background-color: rgba(111, 101, 113, 0.33);
      }

      &--c6 {
        background-color: rgba(119, 119, 119, 0.62);
      }

      &--c7 {
        background-color: rgba(84, 192, 235, 0.45);
      }

      &--c8 {
        background-color: rgba(240, 188, 94, 0.4);
      }

      &--c9 {
        background-color: #bdc3c79c;
      }
      &--c10 {
        background-color: rgba(134, 118, 104, 0.82);
      }
      &--c11 {
        background-color: #1e2021;
      }
      &--c12 {
        background-color: rgba(179, 244, 255, 0.37);
      }
      &--c13 {
        background-color: #dca046;
      }
      &--c14 {
        background-color: rgba(153, 153, 153, 0.32);
      }
      &--c15 {
        background-color: rgba(255, 40, 19, 0.28);
      }
      &--c16 {
        background-color: rgba(156, 150, 158, 0.35);
      }
      &--c17 {
        background-color: #fff8f8;
      }
      &--c18 {
        background-color: #ffdab6;
      }
      &--c19 {
        background-color: #ffe995;
      }
      &--c20 {
        background-color: #ecd5bc;
      }
    }

    &--2 {
      background-color: $brown-color;
      z-index: 2;
      display: none;
    }

    &--3 {
      height: 55rem;
    }


    &__text {
      display: block;
      margin-top: -6rem;

      @include respond(nex-9) {
        margin-top: 0rem;
      }

      @include respond(m-phone) {
        padding-bottom: 1rem;
      }

      &--1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(70%, 724%);

        @include respond(mic-l) {
          transform: translate(48%, 614%);
        }

        @include respond(nex-9) {
          transform: translate(51%, 500%);
        }

        @include respond(nex-4) {
          transform: translate(40%, 440%);
        }

        @include respond(s-phone) {
          transform: translate(32%, 386%);
        }
      }

      &--2 {
        margin-top: 6rem;
      }

      &--3 {
        margin: -5rem auto 0 auto;
        width: 50%;
      }

      &--4 {
        margin: -2rem auto 1.5rem auto;
        width: 70%;
      }

      &--5 {
        margin: -2rem auto 1rem auto;
        width: 50%;
      }

      &--6 {
        margin: -4rem auto 1rem auto;
        width: 46%;
      }

      &--7 {
        margin: -4rem auto 0 auto;
        width: 54%;
      }

      &--8 {
        margin: -3rem auto .8rem auto;
        width: 62%;
      }

      &--7 {
        margin: -4rem auto 1rem auto;
        width: 54%;
      }
    }

    &__icon {
      //margin-top: 3rem;
      position: relative;

      &__img {
        height: 19.8rem;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 6%);
        top: 50%;

        @include respond(mic-l) {
          transform: translate(-50%, 14%);
        }

        @include respond(l-phone) {
          transform: translate(-50%, 20%);
        }

        &--f {
          height: 17.8rem;
          left: 50%;
          position: absolute;
          transform: translate(-50%, 6%);
          top: 50%;
        }

        &--1 {
          height: 13.8rem;
          transform: translate(-66%, 239%);

          @include respond(mic-l) {
            height: 11.8rem;
          }

          @include respond(nex-9) {
            height: 9.8rem;
          }

          @include respond(nex-4) {
            height: 8.8rem;
          }

          @include respond(s-phone) {
            height: 7.8rem;
          }
        }

        &--2 {
          height: 8.8rem;
          transform: translate(-227%, 145%);

          @include respond(4k-desk) {
            transform: translate(-283%, 145%);
          }

          @include respond(mic-l) {
            height: 7.2rem;
          }

          @include respond(nex-9) {
            height: 5.4rem;
          }

          @include respond(nex-4) {
            height: 4.4rem;
          }

          @include respond(s-phone) {
            height: 3.8rem;
          }
        }

        &--3 {
          height: 8.8rem;
          transform: translate(283%, 139%);

          @include respond(4k-desk) {
            transform: translate(360%, 139%);
          }

          @include respond(mic-l) {
            height: 7.2rem;
          }

          @include respond(nex-9) {
            height: 5.4rem;
          }

          @include respond(nex-4) {
            height: 4.4rem;
          }

          @include respond(s-phone) {
            height: 3.8rem;
          }
        }

        &--4 {
          height: 8.8rem;
          transform: translate(-303%, 432%);

          @include respond(4k-desk) {
            transform: translate(-436%, 432%);
          }

          @include respond(mic-l) {
            height: 7.2rem;
          }

          @include respond(nex-9) {
            height: 5.4rem;
          }

          @include respond(nex-4) {
            height: 4.4rem;
          }

          @include respond(s-phone) {
            height: 3.8rem;
          }
        }

        &--5 {
          height: 8.8rem;
          transform: translate(184%, 296%);

          @include respond(4k-desk) {
            transform: translate(250%, 296%);
          }

          @include respond(mic-l) {
            height: 7.2rem;
          }

          @include respond(nex-9) {
            height: 5.4rem;
          }

          @include respond(nex-4) {
            height: 4.4rem;
          }

          @include respond(s-phone) {
            height: 3.8rem;
          }
        }

        &--6 {
          height: 7.8rem;
          transform: translate(-171%, 342%);

          @include respond(4k-desk) {
            transform: translate(-213%, 342%);
          }

          @include respond(mic-l) {
            height: 6.2rem;
          }

          @include respond(nex-9) {
            height: 4.4rem;
          }

          @include respond(nex-4) {
            height: 3.4rem;
          }

          @include respond(s-phone) {
            height: 3.4rem;
          }
        }

        &--7 {
          height: 23.8rem;
          transform: translate(-45%, 6%);

          @include respond(mic-l) {
            height: 19.8rem;
          }

          @include respond(nex-9) {
            height: 14.8rem;
          }

          @include respond(nex-4) {
            height: 11.8rem;
          }

          @include respond(s-phone) {
            height: 9.8rem;
          }
        }

        &--8 {
          height: 13.8rem;

          @include respond(nex-4) {
            height: 11.8rem;
          }
        }

        &--9 {
          height: 17.8rem;
        }
      }
    }
  }
}
